/* styles.css */

.header {
  background-color: #000;
  color: white;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 15px;
  margin: 0px;
}

.logo {
  width: 90px; /* Ajusta el ancho del logo según tus necesidades */
  height: 90px; /* Ajusta la altura del logo según tus necesidades */
  margin-right: 30px; /* Espacio entre el logo y el título */
  margin-left: 30px;
}

.h1{
  display: flex;
  text-align: start;
}
.header-rigth{
  display: flex;
  align-items:start;
}

.header-left{
  display: flex;
  align-items: left;
  margin-left: 400px;
  margin-right: 200px;
}

.left-button{
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.left-button:hover{
  text-decoration: underline;
}

.inicio-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.inicio-button:hover {
  background-color: #3b3b3b;
  color: #ffffff;
}

/* ...otros estilos ... */
